{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}


{% block body %}
<h1>Bonjour</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur cum deleniti dignissimos et ipsam
        placeat rerum similique ullam voluptas. Culpa exercitationem, molestias! Corporis deleniti id
        voluptate. Est soluta, voluptatibus.</p>
{% endblock %}
