{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}


{% block body %}
    <section class="homeBackground">
        <h1 class="text-center">Ali Burger et les 40 sauces</h1>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <p class="paragraph col-8 py-2 text-center">Bienvenue sur le site numéro 1 des amateurs de Sauces.</p>
                <p class="paragraph col-8 py-2 text-center">Crémeuse, acide, sucrée, ou fumée, qu'importe, du moment que
                    vous appréciez
                    le goût de votre sauce préférée recouvrir votre palais !</p>
            </div>
            <div class="container justify-content-center col-12 col-sm-12 col-md-2 col-lg-2 pt-4">
                <div class="row">
                    <div class="card bg-light">
                        <img src="{{ asset('build/images/PhotoDeProfilMaque.jpg') }}" class="imageChef" alt="Maque">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <p class="paragraph col-8 col-lg-6 py-2 text-center">Le chef Ali, Maître saucier et gérant du site.</p>
            </div>
        </div>
    </section>

{% endblock %}
