{% extends 'layoutAdmin.html.twig' %}

{% block title %}Edit Sauce{% endblock %}

{% block body %}
    <h1>Edit Sauce</h1>

    {{ include('sauce/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="text-center">
        <a class="btn btn-secondary btn m-3" href="{{ path('admin_index') }}">Retour</a>
    </div>
{% endblock %}
