{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin nouvelle sauce{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Créer une nouvelle sauce</h1>

    {{ include('admin/sauce/_form.html.twig') }}

    <div class="text-center mt-4 mb-5">
        <a class="btn btn-secondary" href="{{ path('admin_sauce_index') }}">Retour</a>
    </div>
{% endblock %}

