@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

* {

}

body {
    margin: 0;
    background-color: white;
    font-family: $font-title;
    color: $secondary;
    font-size: $text-font-size;
}

h1 {
    padding: $spacing-4 0;
    color: $primary;
}

nav {
    height: 90px;
}
