@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
* {

}

body {
    margin: 0;
    background-color: white;
    font-family: $font-title;
}

h1 {
    padding: $spacing-4 0;
}

nav {
    height: 90px;
}
