@import "app.scss";

body {
  background-color: $danger;
  color: $secondary;
}

.saucesBackground {

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/burgerforsauces.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 90px;
}

.saucePageInfoBackground {

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hamburgersauceId.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 90px;
}



.layout:hover .opacityCard, {
  opacity: 0.4;
  -webkit-transition: opacity 0.40s ease-in-out;
  -moz-transition: opacity 0.40s ease-in-out;
  -o-transition: opacity 0.40s ease-in-out;
  transition: opacity 0.40s ease-in-out;
  border-radius: 5px;
}
