@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');


$font-title: 'Aladin', cursive;
$primary: #e3a742;
$secondary: #ECB892;
$light: #f8f2ee;
$danger: #4F1008;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 4;
$spacing-4: $spacing * 8;
$spacing-5: $spacing * 16;
$backgroundOverlay: rgba(0, 0, 0, 0.6);
