<form method="post" action="{{ path('admin_comment_delete', {'id': comment.id}) }}"
      onsubmit="return confirm('Veux-tu vraiment supprimer ce commentaire?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn btn-danger mb-sm-2 mb-2 btn">Supprimer</button>
</form>
